    <div class="container p-4">
      <div class="row">
        <div class="navbar-image p-3">
          <img [src]="data?.imagePath" class="img-size w-100" alt="Selected Property Image">
        </div>
        <hr style="height:2px;border-width:0;color:#0c0b0b;background-color:#030303">
        <div class="navbar-name mb-3">
          <p class="text-name">Property Name</p>
        </div>
        <div class="nav-address">
          <p class="text-name">Address:</p>
          <p class="mb-3">4517 Washington Ave. Manchester, Kentucky 39495</p>
        </div>
        <div class="title">
          <p class="text-name text-center mb-3">{{ data?.name }}</p>
        </div>
        <p class="mb-3 text-name">Status:</p>
        <div class="">
          <img src="../../assets/correct icon.png" alt=""> <span class="mx-4">Request Raised</span>
          <div class="vl"></div>
          <img src="../../assets/correct icon.png" alt=""> <span class="mx-4">Staff Assigned</span>
          <div class="vl"></div>
          <img src="../../assets/correct icon empty.png" alt=""> <span class="mx-4">Completed</span>
          <div class="vl"></div>
          <img src="../../assets/correct icon empty.png" alt=""> <span class="mx-4">Biling</span>
        </div>
        <div class="text-center my-5">
          <button type="button" class="add-propert-btn" mat-button mat-dialog-close>close</button>
        </div>
      </div>
    </div>
