    <div class="container">
      <div class="row">
        <div class="navbar-image p-3">
          <img [src]="data?.imagePath" class="img-size w-100" alt="Selected Property Image">
        </div>
        <hr style="height:2px;border-width:0;color:#0c0b0b;background-color:#030303">
        <div class="navbar-name mb-3">
          <h5>{{ data?.name }}</h5>
        </div>
        <div class="nav-address">
          <h5>Address:</h5>
          <p class="text-name">4517 Washington Ave. Manchester, Kentucky 39495</p>
        </div>
        <div class="title">
          <h5 class=" text-center mb-3">Crecked tile in the bathroom</h5>
        </div>
        <h5 class="mb-3">Status:</h5>
        <div class="">
          <img src="../../assets/correct icon.png" alt=""> <span class="mx-4">Request Raised</span>
          <div class="vl"></div>
          <img src="../../assets/correct icon.png" alt=""> <span class="mx-4">Staff Assigned</span>
          <div class="vl"></div>
          <img src="../../assets/correct icon empty.png" alt=""> <span class="mx-4">Completed</span>
          <div class="vl"></div>
          <img src="../../assets/correct icon empty.png" alt=""> <span class="mx-4">Biling</span>
        </div>
        <div class="text-center my-5">
          <button type="button" class="add-propert-btn" mat-button mat-dialog-close>close</button>
        </div>
      </div>
    </div>
