.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 1000;
}

.navbar-image {
  margin: 10px;
}
