<mat-nav-list class="list-body">
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 style="color: rgb(54, 92, 134);" matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <span style="color: white;">
      <mat-icon>home</mat-icon> Home
    </span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <span style="color: white;">
      <mat-icon>dashboard</mat-icon> Dashboard
    </span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/property">
    <span style="color: white;">
      <mat-icon>management</mat-icon> property management
    </span>
  </a>
  <a mat-list-item> <span style="color: white;">
      <mat-icon>edit</mat-icon> Link 4
    </span></a>
  <a mat-list-item> <span style="color: white;">
      <mat-icon>edit</mat-icon> Link 5
    </span></a>
  <a mat-list-item> <span style="color: white;">
      <mat-icon>edit</mat-icon> Link 6
    </span></a>
</mat-nav-list>
