table {
  width: 100%;
}
.text-name{
  text-align-last: auto;
  display: inline-flex;
  gap: 55px
}
.card-title {
  font-size: 15px;
  font-weight: 500;
  color: #787878;
  ;
}
.dollar-amount{
  font-weight: 700;
  font-size: 40px;
  color: #787878;
}
.table-title{
  font-size: 20px;
  font-weight: 500;
}
.payment-data{
  color: #007B2A;
  font-size: 16px;
}


