<nav class="navbar navbar-expand-sm  navbar-light"  >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo-propsmart.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mx-4" aria-current="page">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/property-management">Property Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/tenants">Tenants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/maintenance">Maintenance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/financial">Financial</a>
        </li>
      </ul>

      <div class="nav-link">
        <a href=""><img src="../../assets/search.png" alt=""></a>
      </div>
      <div class="nav-link">
        <a href=""><img src="../../assets/notification logo.png" alt=""></a>
      </div>
      <div class="nav-link">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/profile-signIn.png" alt="">
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">forget password</a></li>
            <li><a class="dropdown-item" href="#">Sign-out</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>


<!-- black background -->
<!-- <nav class="navbar navbar-expand-sm  navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo-propsmart.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link mx-4" aria-current="page" routerLink="">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/property-management">Property Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/tenants">Tenants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/maintenance">Maintenance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/financial">Financial</a>
          </li>
        </ul>

      <div class="nav-link">
          <a href=""><img src="../../assets/search.png" alt=""></a>
      </div>
      <div class="nav-link">
          <a href=""><img src="../../assets/notification logo.png" alt=""></a>
      </div>
      <div class="nav-link">
          <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../../assets/profile-signIn.png" alt="">
                </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">forget password</a></li>
                <li><a class="dropdown-item" href="#">Sign-out</a></li>
              </ul>
            </div>
      </div>

    </div>
  </div>
</nav> -->





