.side-nav{
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.nav-item{
    padding: 15px;
    cursor: pointer;
}
.total-card{
    height: 430px;
    width: 100%;
}
.charts {
    max-width: 100%;
    height: 350px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .sel-option{
    width: 200px;
    height: 25px;
}
.card-title{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}
// .img-size{
//    height: 103px;
//    width: 103px;
// }
// 
.header-action-phone {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 1px;
}

 .phone {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    margin-top: 3px;
    line-height: 1.6;
    position: relative;
    top: 1px;
    cursor: pointer;
 }
.name {
    font-family: "Roboto";
    font-size: 16px;
    display: block;
    line-height: 1.3;
    color: black;
    width: 238px;
    font-weight: 400;
}
.card-bg{
    background: #fff;
    justify-content: space-evenly;
}
::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab
{
  max-width: 250px;
  font-size: 16px;
  font-weight: 700;
}

table {
    width: 100%;
  }
  .text-name{
    text-align-last: auto;
    display: inline-flex;
    gap: 55px
  }
  .card-title {
    font-size: 15px;
    font-weight: 500;
    color: #787878;
    ;
  }
  .dollar-amount{
    font-weight: 700;
    font-size: 40px;
    color: #787878;
  }
  .table-title{
    font-size: 20px;
    font-weight: 500;
  }
  .payment-data{
    color: #007B2A;
    font-size: 16px;
  }
  .debit{
    color: red;
    font-size: 16px;
  
  }
  .head-text{
    font-size: 32px;
    font-weight: 700
  }
  .table-head{
    background-color:  #E8E8E8;
  }
  .col-auto{
    width: 300px;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1048px) {
    // .col-auto{
    //   width: 200px;
    // }
    .row{
      width: fit-content;
    }
    .nav-brand-img{
      height: 2.15rem;
      width: 10rem;
    }
    .col{
      
    }
}