<div class="bg-dark"><app-navbar></app-navbar></div>
  <div class="container-fluid p-5">
    <h3 class="head-text">Tenants</h3>
    <div class="row my-3">
        <div class="col" *ngFor="let tenants of tenant">
            <div class="card" style="width: 250px;"  (click)="userDialog(tenants.id)">
                <img [src]="tenants.imagePath" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title">{{ tenants.name }}</p>
                  <p class="card-title">{{ tenants.Contact }}</p>
                  <span>{{ tenants.mail }}</span>
                  <p class="card-title">{{ tenants.Lease }}</p>
                  <p class="card-text">{{ tenants.date }}</p>
                  <p class="card-title">{{ tenants.Payment }}</p>
                  <span> {{ tenants.time }}</span>
                </div>
            </div>
        </div>
    </div>
  </div>
