
<div class="bg-dark"><app-navbar></app-navbar></div>
  <div class="container-fluid p-5">
    <h3 class="head-text">Maintenance</h3>
    <div class="row my-3">
      <div class="col" *ngFor="let maintenance of maintain">
        <div class="card" style="width: 250px;">
            <img [src]="maintenance.imagePath" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title">{{ maintenance.name }}</p>
              <p class="card-title">{{ maintenance.current }}</p>
              <p class="card-text"> {{ maintenance.High }}</p>
              <p class="card-title">{{ maintenance.status }}</p>
              <span>{{ maintenance.Assigned }}</span>
              <p class="card-title">{{ maintenance.Details }}</p>
              <span>{{ maintenance.Location }}</span>
            </div>
        </div>
    </div>
    </div>
  </div>
