<div class="bg-dark">
  <app-navbar></app-navbar>
</div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex">
        <p>Filter as: </p>
        <div class="mx-3">
          <select>
            <option value="Status">Status</option>
            <option *ngFor="let option of filterOptions.statusOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="mx-3">
          <select>
            <option value="Property type">Property type</option>
            <option *ngFor="let option of filterOptions.propertyTypeOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-end">
      <button type="button" class="add-propert-btn">Add Property</button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col" *ngFor="let management of property">
      <div class="card" style="width: 250px;">
        <img [src]="management.imagePath" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">{{ management.name }}</p>
          <p class="card-title">{{ management.address }}</p>
          <span>{{ management.location }}</span>
          <p class="card-title">{{ management.status }}</p>
          <p class="card-text">{{ management.occupied }}</p>
          <p class="card-title">{{ management.rent }}</p>
          <span>{{ management.price }}</span>
          <p class="card-title">{{ management.lease }}</p>
          <span>{{ management.date }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
